<div class="story">
  <h1><%= @story.title %></h1>
  <p>
    Children:
    <% @story.children.each do |c| %>
      <span><%= link_to(c.name, child_path(c)) %></span>
    <% end %>
  </p>
  <p>
    Created by <%= link_to(@story.accounts.first.name, account_path(@story.accounts.first)) %> <%= time_ago_in_words(@story.created_at) %> ago.
  </p>

    <% @story.image.each do |img| %>
      <%= cl_image_tag(img, :gravity=>"face", :crop => "fill", :width => 400, :height => 300) %>
    <% end %>

  <p>
    <%= @story.content.html_safe %>
  </p>

  <div class="story_control">
    <% if @current_account.id == @story.accounts.first.id %>
      <%= link_to("Edit Story |", edit_story_path) %>
      <%= link_to("Delete Story |", story_path( @story.id ), :method => :delete, :data => {:confirm => "Are you sure to delete story #{@story.title}?"}) %>
      <%= link_to("All Your Stories", stories_path) %>
    <% end %>
  </div>

  <hr>

  <h3>Comments</h3>
  <%= render @story.comments.order("created_at ASC") %>
  <h3>Add a comment here:</h3>
  <%= render 'comments/form' %>
</div>
