<% new_account = new_account || false %>

<div class="form">
  <%= form_for @account do |f| %>
    <p>
      <%= f.label :role %>
      <%= f.select(:role, [['Admin', 'admin'], ['Teacher', 'teacher'], ['Family Member', 'family_member']]) %>
    </p>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, :required => true %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email, :requred => true %>
    </p>
    <p>
      <%= f.label :password %>
      <% if new_account == true %>
        <%= f.password_field :password, :required => true, :value => @password %>
      <% else %>
      <%= f.password_field :password, :required => true %>
      <% end %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <% if new_account == true %>
        <%= f.password_field :password_confirmation, :required => true, :value => @password %>
      <% else %>
      <%= f.password_field :password_confirmation, :required => true %>
      <% end %>
    </p>
    <p>
      <%= f.label :image %>
      <%= f.text_field :image %>
    </p>
    <%= f.submit %>
  <% end %>
</div>
