
  <div class="index">
    <h3><%= link_to("Accounts:", accounts_path) %></h3>
    <% @accounts.each do |a| %>
      <p><%= image_tag(a.image) %> <%= link_to(a.name, account_path(a.id)) %> (<%= a.role.humanize %>)</p>
    <% end %>
    <br>
    <hr>
    <br>
    <h3><%= link_to("Children:", children_path) %></h3>
    <% @children.each do |c| %>
      <p><%= image_tag(c.image) %> <%= link_to(c.name, child_path(c.id)) %></p>
    <% end %>
  </div>
