

  <h1 class = "form">Sign Up Here:</h1>


<div class="new_account">
  <%= form_for(@account, :html => {:multipart => true}) do |f| %>

    <p>
      <%= f.label :role %>
      <%= f.select(:role, [ ['Teacher', 'teacher'], ['Family Member', 'family_member']]) %>
    </p>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name, :required => true %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email, :requred => true %>
    </p>
    <p>
      Please check your email for temporary password and login path once created account.
    </p>
    <%= f.submit %>
  <% end %>

</div>
