<div class="show">

  <div class="show_img">
    <%= cl_image_tag(@account.image, :gravity=>"face", :crop => "fill", :width => 400, :height => 400) %>
  </div>

  <div class="show_text">

    <p>Name:  <%= @account.name %></p>
    <p>Role:  <%= @account.role.humanize %></p>
    <p>Email: <%= @account.email %></p>
    <p>
      <% if @account.children.count > 0 %>
        <%= link_to("Children: ", children_path) %>
        <% @account.children.each do |c| %>
          <%= link_to(c.name, child_path(c.id)) %>
        <% end %>
      <% else %>
        No children append to this account.
      <% end %>
    </p>

    <br>
    <hr>
    <br>

    <% if @current_account.present? && (@current_account.id == @account.id || @current_account.admin?) %>
      <div class="controls">
        <p>
          <%= link_to("Edit #{@account.name} |", edit_account_path(@account))%>
          <%= link_to("Delete #{@account.name}", account_path( @account.id ), :method => :delete, :data => {:confirm => "Are you sure to delete account #{@account.name}?"}) %>
        </p>
      </div>
    <% end %>

  </div>

</div>
